<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"> 
    <title>案例库</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="source/plugin/reportmanager/template/statics/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="source/plugin/reportmanager/template/statics/bootstrap/css/bootstrap.min.css">
    <script src="source/plugin/reportmanager/template/statics/bootstrap/js/bootstrap.min.js"></script>
    <style>
      body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 
      { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}

      .footer{
        width: 100%;
        height: 35px;
        display: block;
        background: #f8f8f8;
        position: fixed;
        z-index: 99999;
        bottom: 0;
      }
      
      .btn-primary { 
        border-color: #0366d6; 
        background-color: #0366d6; 

      }

      .btn-primary:hover { 
        border-color: black; 
        background-color: black; 
      }

      .btn.disabled,
      .btn[disabled] {
        pointer-events: none;
        cursor: default;
      }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">案例库</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="plugin.php?id=reportmanager:index">报告列表</a></li>
          <!--{if $isAdmin == 1}-->
          <li><a href="plugin.php?id=reportmanager:addreport">新增报告</a></li>
          <li><a href="plugin.php?id=reportmanager:adddepartment">添加部门</a></li>
          <li><a href="plugin.php?id=reportmanager:adduser">绑定用户</a></li>
          <!--{/if}-->
          <li><a href="home.php">退出</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="关键字：标题">
          </div>
          <button type="submit" class="btn btn-default">搜索</button>
        </form>
      </div>
    </div>
  </nav>

<div class="container">

     <h2>绑定用户到部门</h2><br>

     <!--{if $isAdmin == 1}-->
      <div class="container">
        <form action="plugin.php?id=reportmanager:request_handler" method="post">
          <input type="hidden" name="requestType" value="insertUser" />
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">麻辣论坛Id</label>
            <div class="col-sm-8">
              <input class="form-control" id="uid" name="uid">
            </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">选择部门</label>
              <div class="col-sm-8">
                <select class="form-control" name="departmentId">
                  <!--{loop $departments $department}-->
                  <option value="<!--{$department[departmentId]}-->"><!--{$department[departmentName]}--></option>
                  <!--{/loop}-->
                  </select>
              </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <button type="submit" class="btn btn-primary">绑定</button>
            </div>
          </div>
        </form>
      </div>
      <br> 

      <!--{/if}-->
    <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>麻辣论坛Id</th>            
                <th>部门</th>              
                <th>创建时间</th>

            </tr>
        </thead>
        <tbody>
            <!--{loop $users $user}-->
            <tr>
                <td width="45px">$user[uid]</td>
                <td width="100px">$user[departmentName]</td>
                <td width="100px">$user[created_at]</td>
                
                  
                <td width="50px">
                  <form action="plugin.php?id=reportmanager:request_handler" method="post">
                    <input type="hidden" name="requestType" value="deleteUser" />
                    <input type="hidden" name="uid" value="<!--{$user[uid]}-->" />
                    <div class="text-right">
                      <!--{if $user[departmentId] != 1}-->
                    <p><button class="btn btn-primary" Onclick="return ConfirmDelete();" name="submit" type="submit" >删除</button></p>
                    <!--{else}-->
                    <p><button class="btn btn-secondary disabled">删除</button></p>
                    <!--{/if}--> 
                     </div>
                  </form>
                </td>
                
            </tr>
            <!--{/loop}-->
        </tbody>
    </table>
  </div>

</div>
<script>
  function ConfirmDelete(){
    var x = confirm("确定删除该条记录？");
    if (x)
    return true;
    else
    return false;
    }
</script>

</body>

</html>